<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>去找房-查成交</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app_css/app.css">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">去找房</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="myNav">
                <li><a href="second_hand">二手房</a></li>
                <li><a href="rent_house">租房</a></li>
                <li class="active"><a href="sold_house">查成交</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">注册</a></li>
                <li><a href="">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>个人资料</a></li>
                        <li><a>我的关注</a></li>
                        <li><a>最近浏览</a></li>
                        <li><a>退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <h3>成交数据</h3>


    <form class="form-inline" method="get" action="sold_house">
        {% csrf_token %}
        <div class="form-group">
            <label>
                位置
                <input type="text" class="form-control" name="location" placeholder="位置">
            </label>
            <label>
                户型
                <select name="house_type" class="form-control">
                    <option value="">不限</option>
                    <option value="1室">1室</option>
                    <option value="2室">2室</option>
                    <option value="3室">3室</option>
                    <option value="4室">4室及以上</option>
                </select>
            </label>
            <label>
                总价（万）
                <input type="text" class="form-control" name="min_total_price" placeholder="最低价">
                -
                <input type="text" class="form-control" name="max_total_price" placeholder="最高价">
            </label>
            <button type="submit" class="btn btn-default">筛选 <span class="glyphicon glyphicon-filter"></span></button>
        </div>
        
    </form>


    <table class="table table-bordered table-bordered table-striped table-hover">
        <caption>成交数据</caption>
        <thead>
        <tr class="success">
            <th>位置</th>
            <th>总价<br>（万）</th>
            <th>面积<br>（平米）</th>
            <th>单价<br>（元/平米）</th>
            <th>户型</th>
            <th>朝向</th>
            <th>挂牌日期</th>
            <th>成交日期</th>
            <th>房源链接</th>
        </tr>
        </thead>
        <tbody>
        {% for house in sold_houses %}
        <tr>
            <td>{{house.location}}</td>
            <td>{{house.total_price}}</td>
            <td>{{house.space}}</td>
            <td>{{house.single_price}}</td>
            <td>{{house.house_type}}</td>
            <td>{{house.direction}}</td>
            <td>{{house.open_date}}</td>
            <td>{{house.sold_date}}</td>
            <td><a href="{{house.source_link}}" target="_blank">{{house.source_link}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<nav>
    <ul class="pager">
        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>
    </ul>
</nav>

<script src="/static/bootstrap/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script>
    $("#myNav a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
        window.location.href = 'http://192.168.29.131:8000/house_prices/' + $(this).attr('href');
    })
    $(".navbar-header a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
        window.location.href = 'http://192.168.29.131:8000/house_prices/' + $(this).attr('href');
    $(".table a").click(function (e) {
        window.location.href = $(this).attr('href');
    })
    $("#mytab a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
    })
</script>
</body>
</html>